arabic-reshaper==3.0.0
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.2.0
pip==26.1.1
pycparser==3.0
pymssql==2.3.13
pymupdf==1.28.0
pypdfium2==5.8.0
python-bidi==0.6.10
python-dotenv==1.2.2
watchdog==6.0.0